{% extends "admin/index.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css"
    href="{% static "admin/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css"
    href="{% static "aula/estilos.css" %}" />
{% endblock %}

{% block content %}
<div id="content-main">

<h1> Tareas ejecutando</h1>
{% if tareas %}
    {% for tarea in tareas %}
        <ul>
        <li><h2>{{tarea}}</h2></li>
        </ul>
    {% endfor %}
{% endif %}

{% if aula %}
    {% for unAula in aula %}
            {{unAula}}
    {% endfor %}

{% endif %}


</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
<a href="{% url mostrar_resultados %}"> Mostrar resultados </a>
</div>
{% endblock %}



