{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css"
 href="{% static "admin/css/dashboard.css" %}" />

{% endblock %}

{% block content %}
<div id="content-main">


<h1> Tareas a ejecutar</h1>
{% if tareas %}
    {% for tarea in tareas %}
        <ul>
        <li><h2>{{tarea}}</h2></li>
        </ul>
    {% endfor %}
{% else %}
    <h2> No se selecciono ninguna tarea</h2>
{% endif %}


<form action="/ejecutando/" method="post">
{% csrf_token %}
{{ formulario.as_p }}

<input type="submit" value="Submit" />
</form>


</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
</div>
{% endblock %}





