{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
 <link rel="stylesheet" type="text/css"
     href="{% static "admin/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css"
    href="{% static "aula/estilos.css" %}" />
{% endblock %}

{% block content %}
<div id="content-main">

<div id="formulario">
<form action="." method="post">
{% csrf_token %}

<h1> Tareas a ejecutar</h1>
<p>Seleccione las tareas que desea ejecutar</p>
{{ tareas.as_p }}

<h1> Aulas </h1>
<p>Seleccione las aulas en las que quiere ejecutar las tareas</p>
{{ formulario.as_p }}

<input type="submit" value="Submit" />
</form>
</div>


</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
</div>
{% endblock %}





