{% extends "admin/base_site.html" %}
{% load dajaxice_templatetags %}
{% load i18n admin_static %}


{% block extrahead %}{{ block.super }}
     {% dajaxice_js_import %}
    <script type="text/javascript" src="/static/interaccion.js"></script>
{% endblock %}


{% block extrastyle %}
<link rel="stylesheet" type="text/css"
    href="{% static "aula/estilos.css" %}" />
{% endblock %}

{% block navbar %}
<div class="navbar">
    <div class="navbar-inner">
    <ul class="nav">
        <li>
        <button type="button" name="" value="" class="css3button"
        onclick="Dajaxice.botnet.aula.prueba(otra);">Aulas</button>
        </li><li>
        <button type="button" name="" value="" class="css3button"
        onclick="Dajaxice.aula.sayhello(my_js_callback);">Tareas</button>
        </li><li>
        <button type="button" name="" value="" class="css3button"
        onclick="Dajaxice.aula.sayhello(my_js_callback);">Ejecutar</button>
        </li><li>
        <button type="button" name="" value="" class="css3button"
        onclick="Dajaxice.aula.sayhello(my_js_callback);">Mostrar Resultado</button>
        </li>
    </ul>
    </div>
</div>

{% endblock %}

{% block content %}

<div id="content-main">
Esta herramienta se desarrollo para probar servidores web
</div>
{% endblock %}
