{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="/static/interaccion.js"></script>
{% endblock %}


{% block extrastyle %}
<link rel="stylesheet" type="text/css"
    href="{% static "djbot/estilos.css" %}" />
{% endblock %}

{% block content %}

<div id="content-main">

{%if formulario_tarea and formulario_aula %}
<p>Esta herramienta permite ejecutar una lista de
tareas en una seleccion de aulas.</p>
    <form action="." method="post">
        {% csrf_token %}
        <div class='acciones'>
            {{ formulario_tarea.as_p }}
            <div class='descripcion_tarea'>
            </div>
        </div>
        <div class='acciones'>
            {{ formulario_aula.as_p }}
            <div class='descripcion_aula'>
            </div>
        </div>
        <div id='enviar'>
            <input type="submit" value="Ejecutar" />
        </div>
    </form>
{% endif %}

</div>
{% endblock %}
