{% extends "botnet/index.html" %}
{% load i18n admin_static %}

{% block content %}
{%if formulario and mostrar %}

<p>Consultar los resultados de la ejecuci&oacute;n:</p>
<form action="." method="post">
    {% csrf_token %}
    <div class="acciones">
    {{ formulario.as_p }}
    <p> El campo ip es opcional y se usa solamente cuando se pide la maquina x
    </p>
    {{ mostrar.as_p }}
    </div>
    <p> Se supone que todas las computadoras tienen los mismos programas
    instalados, por ende se ofrece visualizar todas, una o una al azar <p>


    <input type="submit" value="Consultar" />
</form>

{% endif %}

{%if apagadas %}
    <b>Parece que las siguientes maquinas estan apagadas,
        o por lo menos no se puede conectar:</b>
    {% for each in apagadas %}
       {{ each }} -
    {% endfor %}
{% endif %}

{% if computadoras %}
    {%for computadora,comandos in computadoras.items %}
        <div class="acciones">
            <h2>{{computadora}}</h2>
        {%for comando,resultado in comandos.items %}
            <h3>{{comando}}</h3>
            <p>{{resultado}}</p>
        {% endfor %}
        </div>

    {% endfor %}
{% endif %}



{% endblock %}




