NameVirtualHost botnet:80
<virtualhost botnet:80>

ServerName botnet
WSGIDaemonProcess botnet.djangoserver processes=2 threads=15 display-name=%{GROUP}
WSGIProcessGroup botnet.djangoserver
WSGIScriptAlias / <Path al wsgi>/botnet.wsgi
Alias /media <Media Path>
<Directory <Media Path>>
Order deny,allow
Allow from all
</Directory>

Alias /static <Static Path>
<Directory <Static Path> >
Order deny,allow
Allow from all
</Directory>


LogLevel debug
ErrorLog /tmp/botnet.log
CustomLog /tmp/botnet.log combined 

</virtualhost>
