body {
    background-color: #FFFFFF;
}

#content {
    height: 100%;
    padding-top: 3em;
}


.grid.login{
    margin-top: 2em;
}



#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.grid.centered{
    margin-top: 1em;
}

.popup.visible{
    width: 200px !important;
}