.computadora{
    width:250px;
    padding:10px;
    border:3px solid gray;
    margin:10px;
    float: left;
}

.instrucciones{
    width:250px;
    padding:10px;
    border:3px solid gray;
    margin:10px;
    float: left;
}
