{% extends "layout.html" %}
{% block content %}
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='dependencies/index.js')}}"></script>
    <script src="{{ url_for('static', filename='dependencies/react-with-addons.min.js')}}"></script>
    <script src="{{ url_for('static', filename='dependencies/react-dom.min.js')}}"></script>
    <script src="{{ url_for('static', filename='dependencies/react-semantify.min.js')}}"></script>
    <script src="{{ url_for('static', filename='scripts/build/index_bundle.js')}}"></script>
    </script>
    <script src="http://localhost:35729/livereload.js"></script>
{% endblock %}
