<!DOCTYPE html>
<html>
<head>
    <title>DjBot</title>
    {% block head %}{% endblock %}
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/semantic/dist/semantic.min.css')}}"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/datetimepicker/build/jquery.datetimepicker.min.css') }}"> -->

    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
    <nav class="ui inverted menu fixed">
	<div class="ui container">
	    <div class="header item">
		{% block header %}
		{% endblock %}
	    </div>
	    {% block nav %}
	    {% endblock %}
	</div>
    </nav>
    <div id="content">
    {% block content %}{% endblock %}
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.2.5/index.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-semantify/0.5.1/react-semantify.min.js"></script>
<script src="{{ url_for('static', filename='browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='marked.min.js') }}"></script>



    
    <script>
     $(document).ready(function(){

	 $.ajaxSetup({
	     beforeSend: function(xhr, settings) {
		 if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
		     xhr.setRequestHeader("X-CSRFToken", $('meta[name=csrf-token]').attr('content'));
		 }
	 }
	 });
     });
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
